<!DOCTYPE html>
<html>
  <head>
    <title>AlphaBlog</title>
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <!-- ✅ Keep only this for Importmap -->
    <%= javascript_importmap_tags %>
    <%# <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "application", media: "all", "data-turbo-track": "reload" %>
    <script>
      console.log("JavaScript is running!");
    </script>
  </head>
  <body>
    <%= render 'layouts/navigation'%>
    <%= render 'layouts/message' %>
    <div class="container">
      <%= yield %>
    </div>
  </body>
</html>
